<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <title>Gerenciador Vendas</title>
    <link rel="stylesheet" href="./css/style.css">
    <style>

        body {
            background-color: #f7f7f7;
        }

        .tabelas {
            margin-top: 3px;
            text-align: center;
            padding: 0px;
        }

        #cadastroUsuario {
            border: solid 1px gray;
            padding: 40px;
            background: #d3d3d3;
        }

        .formCadastro {
            margin-top: 30px;
        }

        /* HEADER */

        #header {
            text-align: center;
            padding: 20px;
            border-bottom: 1px solid #ccc;
        }

            #header p {
                margin-bottom: 0;
            }

        /* NAVBAR */

        #navbar {
            padding: 10px;
            margin: 10px auto;
        }

            #navbar a {
                width: 150px;
                color: #444;
                text-align: center;
                border: 1px solid #ccc;
                border-radius: 5px;
                margin: 5px;
            }

                #navbar a:hover {
                    color: goldenrod;
                    background-color: beige;
                }

        a.disabled {
            pointer-events: none;
            cursor: default;
            background-color: #d3d3d3;
        }
    </style>
</head>



<body>
    <!-- HEADER -->
    <div class="container-fluid">
        <header class="row" id="header">
            <h3 class="text-success">Cadastro Usuários</h3>
        </header>
        <nav id="navbar" class="container">
            <div class="row justify-content-center">
                <a href="#" class="disabled">Usuários</a>
                <a href="/api/ClientePessoaJuridica/Clientes?#">Clientes</a>
                <a href="/api/Usuario/Oportunidades?#">Oportunidades</a>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <div class="row">
                <form class="formCadastro" id="cadastroUsuario">
                    <div class="row">
                        <div class="col form-group m-2">
                            <label for="nome">Nome</label>
                            <input type="text" class="form-control" id="nomeUsuario">
                        </div>
                        <div class="col form-group m-2">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="emailUsuario">
                        </div>
                        <div class="col form-group m-2">
                            <label for="regiao">Região</label>
                            <select id="regiao" class="form-control">
                                <option value="0">Selecione a região...</option>
                                <option value="1">Norte</option>
                                <option value="2">Nordeste</option>
                                <option value="3">Sudeste</option>
                                <option value="4">Sul</option>
                                <option value="5">Centro Oeste</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 offset-md-11">
                            <button onclick="GravarUsuario()" style="text-align:center" class="btn btn-success gravarUsuario">Gravar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="tabelas">
                    <table class="table table-dark table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Região</th>
                                <th>Atualização da Região</th>
                            </tr>
                        </thead>
                        <tbody id="tableDadosUsuario">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        function GravarUsuario() {

            const url = "/api/Usuario";

            let nome = document.getElementById('nomeUsuario');
            let email = document.getElementById('emailUsuario');
            let regiao = document.getElementById('regiao');

            if (nome.value == "" || email.value == "" || regiao.value == 0) {
                alert("Preencher todos os dados do Usuário, para cadastrar!");
                return
            }

            axios.post(url, { nome: nome.value, email: email.value, regioes: regiao.value }).then(function (result) {
                alert('Success');
                limpar(nome, email, regiao);
                init();
            }).catch(function (error) {
                if (error.response) {
                    alert(error.response.data);
                }
            });
        }

        function limpar(nome, email, regiao) {
            nome.value = "";
            email.value = "";
            regiao.value = "";
        }

        async function init() {
            $('#tableDadosUsuario').empty();
            const dadosUsuario = await BuscarUsuarios();
            MontarTabelaUsuario(dadosUsuario);
        }

        //Usuarios cadastrados
        async function BuscarUsuarios() {
            const url = "/api/Usuario";
            const dados = await axios.get(url).then(result => {
                return result.data;
            });

            return dados;
        }

        function MontarTabelaUsuario(dadosUsuario) {
            const tabelas = document.getElementById("tableDadosUsuario");

            for (var i = 0; i < dadosUsuario.length; i++) {
                const tr = document.createElement('tr');

                let array = [
                    dadosUsuario[i].id,
                    dadosUsuario[i].nome,
                    dadosUsuario[i].email,
                    dadosUsuario[i].regioes,
                    dadosUsuario[i].dataAtualizacaoRegiao,
                ];

                array.forEach(function (valor) {
                    const td = document.createElement('td');
                    td.innerHTML = valor;
                    tr.appendChild(td)
                });

                tabelas.appendChild(tr)
            }

        }

        init();
    </script>
</body>

</html>
